# Local Files
reading/

# Data
data/

# Global Data Extensions (Safety net for climate/spatial data)
*.nc
*.tif
*.tiff
*.csv

# Environment Artifacts
__pycache__/
*.pyc
.ipynb_checkpoints
code/cache/

